# VITE_PORT=5153
# FORWARD_DB_PORT=3306
# FORWARD_REDIS_PORT=6379
# PHPMYADMIN_PORT=8081
# FORWARD_REDIS_INSIGHT_PORT=8003
# ES_VERSION=9.5.3
# PMA_BLOWFISH_SECRET=  # 32-char random string

DB_DATABASE=eshop
DB_USERNAME=root
DB_PASSWORD=
ELASTIC_LOGIN=elastic
ELASTIC_PASSWORD="dockerElasticPassword"
CERTS_DIR=/usr/share/elasticsearch/config/certificates
KIBANA_PASSWORD="dockerElasticPassword"
